.development-warning {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    overflow: hidden;
}

.warning-message-container {
    position: relative;
    display: flex;
    align-items: center;
}

.warning-message {
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    animation: scroll-left 17s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(210%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    @keyframes scroll-left {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
