@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
@use "tailwindcss/variants";

@use 'assets/styles/font';
@use 'assets/styles/theme';

html{
    scroll-behavior: smooth;
}

input[type='number']{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
        
    }
}
